.experian-blue-text {
  color: rgb(81,108,164) !important;
}

.experian-blue {
  background-color: rgb(81,108,164) !important;
}

.experian-pink-text {
  color: rgb(237,25,81) !important;
}

.experian-pink {
  background-color: rgb(237,25,81) !important;
}

.experian-black-text {
  color: rgb(0,0,0) !important;
}