<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document {formatter}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overriden.css') }}">
  </head>
  <body style="font-family: 'Comfortaa', cursive;">
    <nav class="experian-blue" style="height: 45px;">
      <div class="nav-wrapper">
        <h5 style="font-weight: lighter; margin: 10px">
          &nbsp Document
          <span style="font-weight: bold">{ formatter } </span>
        </h5>
      </div>
    </nav>
    <main>
      {% block container %}
      {% endblock %}
    </main>
    <footer class="page-footer experian-blue">
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% block script %}
        {% endblock %}
  </body>
</html>