<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DocumentFormatter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">DocumentFormatter</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="json.html">Json</a></li>
          </ul>
        </div>
      </nav>

    <main>
      {% block container %}{% endblock %}
    </main>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container" style="text-align: center;">
          © 2019 Copyright
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>