{% extends 'base.html' %}

{% block container %}

  <div class="row" style="padding-top: 20px">
    <div class="col s10 offset-s1 m5 offset-m1">
      <form class="col s12" action="/json.html" method="post">
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light btn-small experian-pink" type="submit" name="action">Submit</button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="ugly-json-textarea" name="json-textarea" class="materialize-textarea"></textarea>
            <label for="ugly-json-textarea">Input</label>
          </div>
        </div>
      </form>
    </div>
    <div class="col s10 offset-s1 m5">
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light btn-small experian-pink" type="submit" name="action">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <textarea id="beauty-json-textarea" name="json-textarea" class="materialize-textarea">{{ formatted_json }}</textarea>
            <label for="beauty-json-textarea">Output</label>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}